UI_TYPE=webui
WEBUI_TOKEN=
WEBUI_PORT=56789
CHROME_DRIVER=none
CHROME_VERSION=147
CHROME_DATA_DIR=D:\chrome-user-data
DB_URI=postgres://postgres:password@localhost:5432/postgres?search_path=my_novel&sslmode=disable
