*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/findbugs-idea.xml
.idea/kotlinc.xml
.idea/shelf/
app/libs/
/.idea/checkstyle-idea.xml
.idea/caches/
.idea/modules.xml
.idea/runConfigurations.xml
app/schemas/com.netnovelreader.data.local.db.ReaderDatabase/
