<configuration debug="true">

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/${EXT_DIR:-${DATA_DIR}}/${PACKAGE_NAME}/log/reader.log</file>
        <lazy>true</lazy>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/${EXT_DIR:-${DATA_DIR}}/${PACKAGE_NAME}/log/reader.%d.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>[%thread][%file:%M:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="file" />
        <appender-ref ref="logcat" />
    </root>
</configuration>