<configuration debug="true">

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/sdcard/com.netnovelreader/log/reader.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>/sdcard/com.netnovelreader/log/log.%d.txt</fileNamePattern>
            <MaxHistory>30</MaxHistory>

        </rollingPolicy>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>[%thread][%file:%M:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="file" />
        <appender-ref ref="logcat" />
    </root>
</configuration>